
<h1>Carteira de Investimentos</h1>

<div class="container">
  <section class="invest">
  <div class="addInvest">
    <p>Adicionar Investimento:</p>

      <mat-form-field>
        <mat-label>Tipo</mat-label>
        <mat-select [(value)]="investment.type">
          <mat-option value="RENDA_VARIAVEL">Renda Variável</mat-option>
          <mat-option value="RENDA_FIXA">Renda fixa</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" placeholder="Valor" mask="separator" [(ngModel)]="investment.value">
        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="investment.value=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="investment.date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <i (click)=createInvestment() class="createInvestment material-icons">add</i>
  </div>
  </section>

  <section class="rendaFixa">
    <p>Renda Fixa</p>
    <ul class="investmentList">
      <div *ngFor="let fixa of rendaFixa?.items; trackBy: trackByFunc">
        <li>{{ fixa?.date | date: 'dd/MM/yyyy' }} - R$ {{fixa?.value | number: '1.2' }}
          <i (click)=deleteInvestment(fixa) class="delete material-icons">clear</i>
        </li>
      </div>
    </ul>
  </section>

  <section class="rendaVariavel">
      <p>Renda Variável</p>
      <ul class="investmentList">
        <div *ngFor="let variavel of rendaVariavel?.items; trackBy: trackByFunc">
          <li>{{ variavel?.date | date: 'dd/MM/yyyy' }} - R$ {{variavel?.value | number: '1.2' }}
            <i (click)=deleteInvestment(variavel) class="delete material-icons">clear</i>
          </li>
        </div>
      </ul>
  </section>

  <section class="graph">
      <canvas id="investmentGraph"></canvas>
  </section>

</div>
