h1 {
  text-align: center;
}

p {
  display: contents;
  font-size: 24px;
}

.container {
  position: relative;
  display: grid;
	grid-template-areas:
		". invest invest ."
		". rendaFixa rendaVariavel ."
    ". graph graph."
    ;
  grid-template-columns: 100px auto  auto 100px;
  grid-template-rows: auto auto auto;
  height: 100vh;
  grid-row-gap: 20px;
}

mat-form-field {
  margin: 50px 20px;
}


.invest {
  grid-area: invest;
  text-align: center;
}

.rendaFixa {
  grid-area: rendaFixa;
}

.rendaVariavel {
  grid-area: rendaVariavel;
}

.graph {
  grid-area: graph;
  text-align: center;
}

.investmentList {
  list-style-type: none;
  padding-left: 0;

}

.investmentList li {
  padding: 10px 30px;;
  border-bottom: 1px solid #dddddd;
}

.delete {
  float: right;
  color: red;
  cursor: pointer;
}

.createInvestment {
  color: green;
  cursor: pointer;
  font-size: 43px;
  font-weight: bold;
  vertical-align: middle;
}

#investmentGraph {
  width: 10%;
  height: 10%;
}

